
@font-face {
  font-family: 'DJBCHALKITUP';
  src: url('DJBCHALKITUP.eot?#iefix') format('embedded-opentype'),  url('DJBCHALKITUP.woff') format('woff'), url('DJBCHALKITUP.ttf')  format('truetype'), url('DJBCHALKITUP.svg#DJBCHALKITUP') format('svg');
  font-weight: normal;
  font-style: normal;
}
